.body-container{
    background-color: rgba(245, 244, 244, 0.38);
    /*border:2px solid blue;*/

}

.checkout-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    position: absolute;
    left: 100px;
    top: 20px;
}


.navBar-cart {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-left: 60rem;
    margin-top: 30px;
}
.cart-number {
    position: absolute;
    left: 0.6rem;
    top: 0.5rem;
    font-size: 10px;
    color: red;
}



.flex-container{
    display: flex;
    background-color: rgba(245, 244, 244, 0.38);
    /*border: 2px solid purple;*/
    width: 100%;
}

.flex-child{
    flex: 1;
    /*border: 2px solid rgba(225, 225, 217, 0.38);*/
    background-color: rgba(245, 244, 244, 0.38);
    /*border: 2px solid orange;*/
    width: 70%;

 }

.flex-child:first-child{
    margin-left: 15px;
}
.checkout-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
    padding: 20px;
    /*border: 2px solid red;*/
}
.checkout-heading{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 30px;
    /*border: 2px solid yellow;*/
}
.heading-section{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.login-container {
    display: flex;
    /*padding: 0;*/
    border: none;
    background: none;
    cursor: pointer;
    /*border:  2px solid green;*/
    width: auto;
}
.login-part{
    display: flex;
   flex-direction: column;
    /*border: 2px solid sandybrown;*/
}
.login-btn{
    font-weight: bolder;
    text-decoration-line: underline;
    margin-right: 5px;
    /*border: 2px solid blue;*/
}
.login-dropdown{
    display: flex;
    justify-content: flex-start;
}

/*.navbar{*/
/*    padding: 0 1rem;*/
/*}*/
/*.navbar-bar{*/
/*    max-width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*}*/

.account-login{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dropdown{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.email-pwd{
    display: flex;
    align-items: center;
}
.forgot-pwd{
    text-decoration: underline;
    position: relative;
    top: 5px;
    text-decoration-color: #d5d5d5;
    text-underline-offset: 0.375rem;
}
.forgot-pwd:hover{
    cursor: pointer;
    text-decoration-color: #b41d1d;
}
input{
    border: 0.0625rem solid #000;
    border-radius: 0.25rem;
    display: block;
    font-size: 1.125rem;
    padding: 0.875rem 1rem;
    width: auto;
    box-sizing: border-box;
}
.signin-btn {
    text-transform: uppercase;
    letter-spacing: .075rem;
    font-family: sans-serif;
    background-color: black;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    color: #fff;
    border: 0.0625rem solid;
    border-radius: 0.25rem;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
   position: relative;
    top: 20px;

}

.signin-btn:hover {
    cursor: pointer;
}

.signin-btn:active {
   box-shadow: 0 5px;
    transform: translateY(4px);
}

.contact-way{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: start;
}

.privacy-policy{
    text-decoration: underline;
    padding-right: 5px;
}
.last-name{
    position: relative;
    left: 15px;
}
.lastname{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 15px;
}
.checkbox-align{
    display: flex;
    align-items: flex-start;
}
.input-list{
    width: 100%;
    border-radius: 0.25rem;
    padding: 1rem;
    text-align: center;
}
.address-input{
    font-family: sans-serif;
    font-size: 1.0625rem;
    text-align: left;
}
.input-list-change{
    width: auto;
    border-radius: 0.25rem;
    padding: 1rem;
    text-align: left;
}
.contact-location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px ;
}
.shipping-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    font-size: 15px;
    margin-top: -0.875rem;
}
.to-from{
    display: flex;
    flex-direction: row;
}
.from-section{
    position: relative;
    padding-left: 25px;
}
p{
    margin: 0px;
}
.gift-checkbox{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 5px;
}

.next-step{
    background-color: #d31334;
    border: 0.0625rem solid #d31334;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .075rem;
    min-width: 20.9375rem;
    font-weight: 600;
    position: relative;
    left: 495px;
}
@media only screen and (min-width: 62rem){
.amount-box{
    background: transparent;
    border-top: 0;
    max-height: 100vh;
    padding-top: 1rem;
}}

.amount-box{
    display: flex;
    flex-direction: column;
}

.item-ttl{
    align-items: center;
    background: none;
    border: 0;
    border-bottom: 0.0625rem solid #d5d5d5;
    display: flex;
    flex-direction: row;
    font-size: 1.1875rem;
    width: 100%;

}

.img-border{
    border: 2px solid #d5d5d5;
    width: 71px;
    height: 85px;
}
.products-chosen{
    line-height: 1.25rem;
    display: flex;
    justify-content: flex-start;
    font-size: 1.0625rem;
    font-family: Calibre,sans-serif;
}
.product-heading{
    font-weight: 500;
}
.clothing-incart{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.25rem;
    flex-grow: 1;
    font-size: 1.0625rem;
}

.general {
    display: inline-block;
     margin-top: 20px;
}

label {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}


