
.card-header h5{
    font-size:30px;
    font-weight: bold;
}
.card-header p{
//background-color: white;
    padding:10px 5px;
    border-radius: 2px;
    font-size:19px;
    margin-top:20px;
//border:1px solid #dad8d8

}

.card-header p span{
    margin-left: 6px;
}
