/*body {*/
/*    position: relative;*/
/*}*/

.modal-style {

    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*!*transform: translate(-50%, -50%);*!*/
    /*background-color: #fff;*/
    /*padding: 50px;*/
    /*!*z-index: 1000;*!*/
    /*width: 700px;*/
    /*height: 300px;*/



    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/


}
.container {
    display: flex;
    flex-direction: column;
}
.text-span {
    font-size: 20px;
    margin-bottom: 50px;
}

.btn-print {
    background-color: green;
    width: 180px;
    height: 53px;
    border-radius: 5px;
    border-style: none;
    margin-top: 20px;
    color: white;
}

.order-container {
    display: flex;
    flex-direction: column;

}

.order {
    background-color: black;
    width: 100%;
    color: white;
    height: 3rem;
    line-height: 3rem;
    font-weight: bolder;
    position: fixed;

}

.option-period {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    text-align: left;


}

label {
    width: 100%;
}


input[type='checkbox'] {
    width: 10%;
}