.main-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;


  .main-column-left-wrapper {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    //padding: 1rem 1.5rem;
    .main-column-left-title {
      font-size: 1.2rem;
      font-weight: 600;



    }
    .main-column-left-list {
      width: 100%;

      .option-top {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.8rem 0;

        .option-title {
          font-size: 1rem;
          font-weight: 600;

        }
        .option-icon-collapse {
          width: 1rem;
          height: 1rem;
        }

        .option-bottom {
          width: 100%;
          display:flex;
          flex-direction: row;
          justify-content: flex-start;
          position: relative;




          .option-bottom-item {
            margin-top: 2rem;
          }

        }


      }

    }


  }

  .main-column-right {
    width: 80%;
    display: flex;
    flex-direction: column;
  }


  .main-column-right-up {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;


    .main-column-right-img {
      width: 876px;
      hight: 342px;
    }


    .main-column-right-text-container {
      margin-top: 2rem;
      background-color: #e0e0e0;
      padding: 0.5rem 0.5rem;
      .medium-text {
        font-weight: 600;
      }

    }

  }

}

.main-column-right-bottom-container {
    display: flex;
  flex-direction: column;
  background-color: rgba(231, 231, 225, 0.57);


}





