.footer {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: #57585b;
    background-color: white;
    font-size: 0.9rem;
}

* {
    text-decoration: none;


}

h5 {
    color: black;
}

.grid-footer-container{
    width: 1048px;
    height: 707px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    padding: 10px;
}

.grid-top{
    border: 1px solid white;
    text-align: left;
    /*display: grid;*/
    /*grid-template-columns: repeat(1, 100px);*/

}

.grid-top-item {
    display: flex;
    flex-direction: column;
}

.grid-bottom .social-links{
    margin-top: 50px;
}
ul{
    list-style: none;
}

a{
    display: block;
    padding: 0.8rem;
}

.social-links a{
    display: inline-block;
    height: 30px;
    width: auto;
}
.bottom{
    width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-right-left{
    padding: 0 20px 0 0;
}